@use 'variables' as *;

// 📦 Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ⏳ Transition
@mixin transition($props...) {
  transition: $props 0.3s ease;
}

// 📱 Media Queries
@mixin respond($break) {
  @if $break == sm {
    @media (max-width: $break-sm) { @content; }
  }
  @if $break == md {
    @media (max-width: $break-md) { @content; }
  }
  @if $break == lg {
    @media (max-width: $break-lg) { @content; }
  }
  @if $break == xl {
    @media (max-width: $break-xl) { @content; }
  }
}
