// 🎨 Colors
$primary: #4f46e5;
$secondary: #fbbf24;
$danger: #dc2626;
$success: #16a34a;
$red: #d4352d;
$gray-100: #f3f4f6;
$gray-300: #d1d5db;
$gray-500: #6b7280;
$gray-800: #1f2937;
$border-color: #e5e7eb;

// 🔠 Typography
$font-base: 'Inter', sans-serif;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;

// 📏 Breakpoints
$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;

//Space

$space-sm: 8px;
